@import "./normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@mixin size($w,$h:$w) {
  width: $w;
  height: $h;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  background-color: #232526;
  @include size(100%);
  @include flexCenter;
  font-family: 'Roboto', sans-serif;
}